* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
  line-height: 1.5;
   background-image: url("./Capture 6.PNG");
   background-size:cover;
   background-repeat: no-repeat;
   height: 100vh;
 }

.intro h1{
color:rgb(150, 141, 150);
padding: 2rem;
padding-left: 4rem;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 40px;

}
.intro span{
color:#630778;
padding-left: 6rem;
}
.intro p{
    color:rgb(130, 129, 130);
padding-left: 3rem;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

main button{
    border-radius: 30px;
    border: none;
    width:180px;
    padding:0.8rem;
    box-shadow: rgb(228, 238, 169);
    transition: 0.4s;
   cursor: pointer;
   background-color:#610775;
    margin-left: 11rem;
    margin-top: 5rem;
    color:rgb(207, 200, 231);
}
button:hover{
    transform: scale(1.2);
    cursor: pointer;
    
}
a {
    text-decoration: none;
    color: #ce3de8;
}

ul {
    list-style: none;
}

header > nav {
    background-color:#650b79;
    color: #fff;
    padding: 1rem;
}

header > nav > ul {
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px;
    align-items: center;
    justify-items: center;
}

header > nav > ul > li > a {
    color: #fff;
    padding: 0.6rem 1.1rem;
    border-radius: 50px;
}

header > nav > ul > li > a:hover {
    color: #1a0918;
    transition: 0.3s;
    transition: 0.3s;
    background-color: #eee3ef;
}

#login {
    grid-column: 3 / 4;
}

