doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main.css")
        //- link(rel="stylesheet", href="../public/style/main.css")
        title landing page
    body
        header
             nav
                ul
                    li
                        a(href="/") Home
                    li#login
                        a(href="/login") Login
                    li
                        a(href="/register") Register
                   
        main
            div.intro
                h1 E-COMMERCE 
                    br
                    span Landing Page
                p Welcome to our inclusive ecommerce platform, catering to both
                p clients and sellers. Find high-quality products as a customer, 
                p and sellers can showcase their offerings to a large customer base.
                p Join us today and experience the benefits of our seamless online marketplace.
                button(type="submit") Discover Now 
                 