doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/main3.css")
        title register
    body
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li#login
                        a(href="/login") Login
                    li
                        a(href="/register") Register
        main.register
            form(action="/login", method="POST")
                label(for="name") Name
                input(type="text", name="name", id="name")
                label(for="email") Date of Birth
                input(type="date", name="date", id="date")
                label(for="email") Email
                input(type="email", name="email", id="email")
                label(for="password") Password               
                input(type="password", name="password", id="password")
                button.btn(type="submit") Register
